@import url(./variables.css);

.main-content {
    padding: 2rem;
    overflow-y: auto;
    background-color: var(--color-background-light);
}
/* General container for the page */
.activity-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--color-background-light);
}

/* Header section styles */
.activity-page .header {
    margin-bottom: 2rem;
    text-align: center;
}

.activity-page .header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.activity-page .header p {
    font-size: 1rem;
    color: var(--color-primary);
}

/* Activity timeline section */
.activity-page .activity-timeline {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Activity card */
.activity-page .activity-card {
    background-color: var(--color-white);
    color: var(--color-primary);
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px var(--color-box-shadow-hover);
    padding: 1.5rem;
    transition: transform 0.3s ease;
    margin-left: 1rem;
}

.activity-page .activity-card:hover {
    transform: scale(1.02);
}

/* Activity card header */
.activity-page .activity-card .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.activity-page .activity-card .card-header .time {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.calendar-icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-primary);
}

.activity-page .activity-card .card-header .time span {
    color: var(--color-primary);
    font-weight: 500;
}

.activity-page .activity-card .card-header .mood-weather {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.activity-page .activity-card .card-header .mood-weather span {
    font-size: 1.5rem;
}

.no-activities {
    
}

/* Weather icons */
.weather-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.weather-icon.sunny {
    color: #eab308;
}

.weather-icon.cloudy {
    color: #6b7280;
}

.weather-icon.rainy {
    color: #3b82f6;
}

.activity-page .activity-card .activity-details {
    margin-top: 1rem;
}

.activity-page .activity-card .activity-details h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.activity-page .activity-card .activity-details p {
    color: var(--color-primary);
}