:root {
  --color-background-light: #f9fafb;
  --color-white: #ffffff;
  --color-border: #e5e7eb;
  --color-text-dark: #1f2937;
  --color-text-light: #4b5563;
  --color-hover-background: #f3f4f6;
  --color-active-background: #eff6ff;
  --color-primary: #155E95;
  --color-primary-light: #040608;
  --color-success-light: #f0fdf4;
  --color-info-light: #eff6ff;
  --color-warning-light: #fefce8;
  --color-neutral-light: #f5f3ff;
  --color-box-shadow: rgba(0, 0, 0, 0.05);
  --color-box-shadow-hover: rgba(0, 0, 0, 0.1);
}