:root {
    --color-background-light: #FFFCF2;
    --color-white: #ffffff;
    --color-border: #A29F15;
    --color-text-dark: #243E36;
    --color-text-light: #58A4B0;
    --color-hover-background: #2D93AD;
    --color-active-background: #58A4B0;
    --color-primary: #243E36;
    --color-primary-light: #2D93AD;
    --color-success-light: #FFFCF2;
    --color-info-light: #58A4B0;
    --color-warning-light: #A29F15;
    --color-neutral-light: #FFFCF2;
    --color-box-shadow: rgba(0, 0, 0, 0.05);
    --color-box-shadow-hover: rgba(0, 0, 0, 0.1);
}
